:root
{
    --DR: darkred;
    --Second_Color: #C67F7F;
    --Third_Color: #ececec;
    --BG_Color: #d0aeae;
}
/* darkred, #C67F7F, #ececec */

*
{
    margin: 0;
    padding: 0;
    border: 0;
}

.bg_DR
{
    background-color: var(--DR);
    color: var(--Third_Color);
}

.Bg_StartColor
{
    background-color: var(--BG_Color);
}

.Bg-Mountain-Header
{
    background-image: url(./media/switzerland-862870_1920.jpg);
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%), url(IMAGE_URL); */
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.2962359943977591) 50%), url(./media/switzerland-862870_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    z-index: 0;
    height: 90vh;
    position: relative;
}

.Bg-Mountain-Header-2
{
    position: absolute;
    top: 42%;
    right: 42%;
    mask-image: url(./media/mountains.png);
    background-color: var(--BG_Color);


    /* background-image: url(./media/mountains.png); */
    height: 540px;
    width: 1245px;
    background-repeat: no-repeat;
    background-size: cover;
}

.Descript-Container
{
    width: 50%;
}

.Descript-Container::before
{
    font-family: "Font Awesome 5 Free";
    content: "\f10d"; /* Codice per l'icona utente */
    font-weight: 900;
    margin-right: 8px;
    color: #007bff;   
}

.Descript-Container::after
{
    font-family: "Font Awesome 5 Free";
    content: "\f10e"; /* Codice per l'icona utente */
    font-weight: 900;
    margin-right: 8px;
    color: #007bff; 
}

.Timeline
{
    position: relative;
    background-color: red;
    height: 4px;
    width: 100%;
    border-radius: 20%;

    right: 145px;
}

.Timeline::before
{
    content: '';
    position: absolute;
    background-color: white;
    height: 20px;
    width: 20px;
    border: 1px solid black;

    border-radius: 50%;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.IconText
{
    position: relative;
    right: 130px;
}

/* Button Description */
.BDes
{
    background-color: red;
    color: white;
    height: 50px;
    z-index: 1;
}

.Bg_TreesPos
{
    position: relative;
    z-index: 0;

    bottom: 130px;
}

.Bg_Trees
{   
    height: 650px;
    width: auto;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--BG_Color);
    background-image: url(./media/trees2.png);
}

.V-Timeline::before
{
    content: "";
    background-color: red;
    width: 10px;
    height: 100px;
}

.TVContainer
{
    position: relative;
    z-index: 1;
}

.TimelineVertical
{
    position: absolute;
    background-color: red;
    height: 125px;
    width: 2px;
    border-radius: 20%;

    top: 10px;
    right: 1350px;
}

.TimelineVertical::before
{
    content: '';
    position: absolute;
    background-color: white;
    height: 20px;
    width: 20px;
    border: 1px solid black;

    border-radius: 50%;
    
    top: 15%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.Bg_TreesPos2
{
    position: relative;
    z-index: 0;

}

.Bg_Trees2
{   
    position: absolute;
    height: 465px;
    width: 540px;

    transform: scale(1.5);
    
    background-size: contain;
    background-repeat: no-repeat;

    bottom: 115px;
    left: 1420px;

    background-color: var(--BG_Color);
    mask-image: url(./media/trees.png);
}

.marginTop
{
    margin-top: 200px;
}

.imgBorder
{
    border: 4px solid black;
}

.paddingBottom500
{
    padding-bottom: 500px;
}

.background-RedPos
{
    position: relative;
}

.background-Red
{
    background-color: var(--DR);
    mask-image: url(./media/trees2.png);

    height: 480px;
    width: 1472px;
    transform: scaleX(-1.5);

    position: absolute;
    bottom: 0px;
    left: 274px;
}
